* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    padding-top: 39vh;
}

main h1 {
    padding-bottom: 1vh;
}

main input, #output {
    margin-top: 2vh;
}
